.big-box {
    border: green 3px dotted;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 40px;
    width: 300px;
    height: 300px;

}

.title-text {
    color:forestgreen;
}

.in-id {
    margin-bottom: 5px;
}

.text-box {
    border-radius: 5rem;
    width: 150px;
    height: 22px;
}

.login {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btn {
    border-radius: 2rem;
    width: 70px;
}
